.slide1Bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
      url('/images/slide1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .slide2Bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
      url('/images/Enchanting.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
 
  .slide3Bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
      url('/images/Coordination.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
 
  .slide4Bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
      url('/images/Celebration.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
 

  .slideContentBg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url('/images/why-choose-us-bg-img.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }

  .swiper-button-prev::after,
.swiper-button-next::after {
  color: white !important;
}
