@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-Lexend-Deca);
}
.fancy-text {
  font-family: var(--font-sail);
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.underline-animation:hover::after {
  width: 100%;
}

.underline-animation-white {
  position: relative;
}

.underline-animation-white::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.underline-animation-white:hover::after {
  width: 100%;
}

/* Initial state of the dropdown */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: #4a4a4a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: max-content;
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* Show the dropdown when hovering over the parent element */
.group:hover .dropdown-menu {
  opacity: 1; /* Fade in */
  transform: translateY(0px); /* Slide up into view */
  pointer-events: auto; /* Enable interaction with the dropdown */
}

/* Hover effect for links */
.dropdown-menu a {
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  color: #4a4a4a;
}

.dropdown-menu a:hover {
  color: white;
}

.fancy-button {
  position: relative;
}

.fancy-button::before {
  content: '';
  position: absolute;
  right: -10px;
  bottom: -8px;
  width: 100%;
  height: 100%;
  border: 1px solid black; /* Default border color */
  transition: border-color 0.3s ease-in-out;
}

/* Change border color when sticky */
.fancy-button[data-sticky="true"]::before {
  border-color: white !important;
}
/* Change border color when sticky */
.fancy-button[data-sticky="true"] {
  background-color: white !important;
  color: black;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: floatUpDown 2s infinite ease-in-out;
  -webkit-animation: floatUpDown 2s infinite ease-in-out;
}

.attached-promo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url('/images/wedding-slide1.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


.services{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
  url('/images/wedding-services-bg.png');
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fadeUp 0.5s ease-out;
  animation-fill-mode: both;
}

.breadcrumb {
  background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
    url(/images/testside.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

.text-bg-color {
  background-color: black;
  color: white !important;
  padding: 8px 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: max-content;
}

